body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .logo {
    width: 50px;
    height: auto;
    
  }
  .main {
    margin-left: 30px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a, .main {
      float: none;
      display: block;
    
    }
  }

  @keyframes volantes {
    0%   {color: red; transform: scale(1);}
    25%  {color: yellow; transform: scale(1.1);}
    50%  {color: blue; transform: scale(1.2);}
    100% {color: green; transform: scale(1);}
  }

  h1 {
    animation-name: volantes;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
  }

  .descubre{
    font-size: 20px;
  }

  @keyframes ven {
    0%   {color: red; transform: scale(1);}
    25%  {color: yellow; transform: scale(1.1);}
    50%  {color: blue; transform: scale(1.1);}
    100% {color: green; transform: scale(1);}
  }

  .ven {
    animation-name: ven;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 1px;
    width: 100%;
  }

/* html con productos */

.navbar2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #333;
    
    width: 100%;
  }
  
  .navbar2 a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  .navbar2 a:hover {
    
    background: #ddd;
    color: black;
    
  }
  /*@media screen and (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
}*/
  @media screen and (max-width: 600px) {
    .grid-container{
      
      grid-template-areas: auto;
    
    }
  }
  
  .logo2 {
    width: 50px;
    height: auto;
  }

  /* cajas de productos*/

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    
  }
  
  /*.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
  }
  */
  .grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
    margin: 0px;
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
  }
  .grid-item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 40%;
  }
.imagen {
    border-radius: 50%;
    width:100px; 
    height: 100px; 
    transition: transform .9s;
}

.imagen:hover {
    transform: scale(1.5);

}
/*muestre solo 3*/
