body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .logo {
    width: 50px;
    height: auto;
    
  }
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a, .main {
      float: none;
      display: block;
    }
  }

  @keyframes volantes {
    0%   {color: red; transform: scale(1);}
    25%  {color: yellow; transform: scale(1.1);}
    50%  {color: blue; transform: scale(1.2);}
    100% {color: green; transform: scale(1);}
  }

  h1 {
    animation-name: volantes;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes ven {
    0%   {color: red; transform: scale(1);}
    25%  {color: yellow; transform: scale(1.1);}
    50%  {color: blue; transform: scale(1.2);}
    100% {color: green; transform: scale(1);}
  }

  .ven {
    animation-name: ven;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

/* html con productos */

.navbar2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #333;
  }
  
  .navbar2 a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  .navbar2 a:hover {
    background: #ddd;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    .navbar2 {
      grid-template-columns: auto;
    }
  }
  
  .logo2 {
    width: 50px;
    height: auto;
  }

  /* cajas de productos*/

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }

